<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <!--/*/ <th:block th:include="shared/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>
                        Todo List
                    </h1>
                    <a href="/todo" class="btn btn-primary btn-lg">Go to TodoList</a>
                </div>
            </div>
        </div>
    </body>
</html>